[Unit]
Description=Lead Manager
After=network.target lead-scraper.service lead-analyzer.service

[Service]
Type=simple
ExecStart=/bin/lead-manager
Restart=always
RestartSec=10
Environment="SCRAPER_URL=http://localhost:9013"
Environment="ANALYZER_URL=http://localhost:9014"
Environment="DATABASE_MANAGER_URL=http://localhost:9012"
Environment="RUST_LOG=info"

[Install]
WantedBy=default.target
